*{
    padding: 0;
    margin: 0;
}
.container1{
    box-sizing: border-box;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.2)),url(/images/about\ us.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}
header{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    color: darkgray;
}
main p {
    font-size: 30px;
    color: rgb(133, 132, 131);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    padding-left: 20px;
    padding-top: 5px;
}
footer ul li{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    color: darkgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    padding-top: 20px;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
}
a{
    text-decoration: none;
    color: darkgrey;
    font-size: 30px;
    padding: 20px;
}
a:hover{
    color: rgb(249, 250, 248);
}