*{
    padding: 0;
    margin: 0;
}
.container{
    box-sizing: border-box;
    background: linear-gradient(rgba(88, 88, 88, 0.6),rgba(88, 88, 88, 0.3)),url(/images/odisha-makes-progress-in-its-fight-against-malnutrition-but-theres-still-a-long-way-to-go.jpg);
    height: 700px;
    width: 100%;
padding: 10px;
background-repeat: no-repeat;
background-size: cover;
}
h1{
    font-size: 40px;
    color: lightgrey;
    font-family: cursive;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
}
a{
    text-decoration: none;
    color: rgb(245, 202, 185);
    font-size: 30px;
    padding: 20px;
}
a:hover{
    color: chartreuse;
}
p{
    font-size: 70px;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
    color: rgb(223, 187, 146);

}

